@import "mixins.scss";
@import "variables.scss";

.formula {
    display: flex;
    align-items: center;

    position: absolute;
    top: $header-height + $toolbar-height;
    left: 0;
    right: 0;

    height: $formula-height;
    padding: .25rem .5rem;

    // background-color: #eeffff;

    &__fx {
        padding: .25rem .5rem;
        font-style: italic;
        opacity: .75;
    }

    &__input {
        flex-grow: 1;
        border: 1px solid #ededed;
    }
}
